@import "variables";

//TODO: need to rebuild whole thing. Start from scratch. Flexbox isn't good
:root {
  font-size: $font-size;
  font-family: $font-family;
  color: $desaturated-red;
}

body {
  margin: 0;

  .container {
    display: grid;
    grid-template-areas:
      "hd"
      "hi"
      "main";
    //width: 100%;
    min-width: 375px;

    header {
      grid-area: hd;
      margin: 2rem;
      //display: flex;
      img {
        height: 20px;
      }
    }

    .hero-image {
      grid-area: hi;
      width: 100%;

      img {
        width: 100%;
      }
    }

    main {
      grid-area: main;
      margin: 1.75rem;
      flex-direction: column;

      h1 {
        font-weight: 300;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-align: center;
        margin-bottom: 1rem;

        .black {
          font-weight: 600;
          color: black;
        }
      }

      p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.4rem;
      }

      form {
        .input-wrapper {
          border: 1px solid $desaturated-red;
          border-radius: 1.5rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 2.87rem;
          align-items: center;
          margin-top: 2rem;

          .error_img {
            display: none;
          }

          input[type=email] {
            background-color: unset;
            border: unset;
            margin-left: 1.5rem;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $desaturated-red;
              font-family: $font-family;
              //opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $desaturated-red;
              font-family: $font-family;

            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $desaturated-red;
              font-family: $font-family;

            }
          }



          button {
            background: $peach-gradient;
            border: unset;
            border-radius: 1.5rem;
            height: 3rem;
            width: 4rem;
            margin-right: -0.1rem;

            img {
              height: 20px;
            }

            &:active {
              filter: brightness(1.25);
              box-shadow: 0 5px 3rem -1rem $soft-red;
            }
          }
          margin-bottom: 0.5rem;
        }

        .error-message {
          margin-left: 1.5rem;
          color: $soft-red;
          display: none;
        }

        &.error {
          .input-wrapper {
            border-color: $soft-red;
            border-width: 2px;
          }

          .error_img, .error-message {
            display: inline;
          }

        }



      }
    }


  }

  @media (min-width: 999.98px) {
    & {
      background: $white-gradient;
    }
    .container {

      background-image: url("images/bg-pattern-desktop.svg");
      //background-size: cover;
      grid-template-areas:
          "hd hi"
          "main hi";
      grid-gap: 0;

      grid-auto-flow: dense;

      header {
        margin-top: 3rem;
        margin-left: 8rem;
        max-width: 53%;
        height: fit-content;
        margin-bottom: 0;

        img {
          height: 30px;
        }
      }

      main {
        margin: 0;
        padding-right: 8rem;
        padding-left: 8rem;
        //max-width: 53%;
        align-items: center;
        display: flex;
        justify-content: left;

        h1, p {
          padding-right: 9rem;
        }


        h1 {
          font-size: 4rem;
          text-align: left;
        }

        p {
          text-align: left;
          font-size: 1rem;
          line-height: 1.7;

        }

        form {
          .input-wrapper {
            width: 100%;


            input {
              width: 60%;
            }

            button {
              width: 6rem;

            }
          }

          width: 75%;
          align-self: start;
          margin-top: 2rem;


        }
      }

      .hero-image {

        width: unset;

        img {
          height: 100%;
          width: unset;

        }
      }
    }
  }

  footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }

}